@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

html,
body,
body > div {
  height: 100%;
  width: 100%;

}

html,
body {
  margin: 0;
}

.editor {
  display: flex;
  height: 95vh;
  width: 100%;
}

.header {
  height: 5vh;
  width: 100%;
  color: #FFF;
  background-color: #000;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  float: left;
}

.view {
  width: 50%;
  background: #333;
  color: #fff;
  font-family: sans-serif;
  overflow: auto;
  padding: 10px;
}


textarea {
  width: 50%;
  font-size: 18px;
  padding: 10px;
  resize: none;
}
